@reference "../../../styles/index.css";

.loading-paws {
    @apply inline-flex gap-[0.25rem] m-auto py-0.5 px-1 rounded-lg;
}

.loading-paws .paw {
    animation: pawPulse 1.4s ease-in-out infinite both;
}

.loading-paws .paw:nth-child(1) {
    animation-delay: -0.32s;
}

.loading-paws .paw:nth-child(2) {
    animation-delay: -0.16s;
}

.loading-paws .paw:nth-child(3) {
    animation-delay: 0s;
}

@keyframes pawPulse {

    0%,
    80%,
    100% {
        opacity: 0.3;
        transform: scale(0.8);
    }

    40% {
        opacity: 1;
        transform: scale(1);
    }
}