@reference "../../../../styles/index.css";

.tile-btn {
    @apply w-10 h-10 p-0 border border-grey-3 bg-dark rounded-lg overflow-hidden relative;

    &:hover {
        @apply scale-105 bg-turquoise;
    }
}

;

.tile-img {
    @apply w-full h-full object-cover;
}

.tile-text {
    @apply absolute bottom-0 left-0 px-1 py-[5px] w-full bg-white-rgba-3 text-dark flex items-center justify-between;
}