@reference "../../../styles/index.css";

.layout {
    @apply w-screen min-h-dvh flex flex-col justify-between relative z-1;

    &::before {
        content: "";
        @apply fixed w-screen h-dvh inset-0 bg-dark-rgba-2 xl:hidden -z-1;
    }
}