@reference "../../../../styles/index.css";

.table-container {
    @apply bg-white capitalize border border-grey-1 rounded-lg pt-1 pb-[5px] w-full overflow-scroll xl:max-h-[50dvh];

    &::-webkit-scrollbar {
        @apply w-[6px] h-[6px];
    }

    &::-webkit-scrollbar-track {
        @apply m-[3px] bg-transparent;
    }

    &::-webkit-scrollbar-thumb {
        @apply bg-dark-rgba rounded-full
    }
}

table {
    @apply text-xs text-left w-full;
}

td,
th {
    @apply px-0.5;
}

thead th {
    @apply pb-0.5 text-dark border-b-2 border-turquoise;

    &:first-of-type svg {
        @apply m-auto
    }
}

tbody th {
    @apply py-[0.25rem];
}

tbody tr:not(:last-of-type) {
    @apply border-b border-grey-rgba;
}

td {
    @apply text-grey-1 relative;
}

.animal-photo {
    @apply w-2 h-2 border border-dark-rgba rounded-full overflow-hidden m-auto;

    img {
        @apply w-full h-full object-cover;
    }
}