@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import "tailwindcss";

@theme {
  --spacing: 1rem;
  --font-caveat: "Caveat", cursive;
  --font-open-sans: "Open Sans", sans-serif;
  --color-dark: #242424;
  --color-white: #ffffff;
  --color-grey: #ebeaef;
  --color-grey-1: #6B7280;
  --color-grey-2: #999999;
  --color-grey-3: #c1bfbf;
  --color-turquoise: #0097a7;
  --color-turquoise-2: #14B8A6;
  --color-turquoise-3: #0d8173;
  --color-turquoise-rgba: rgba(0, 151, 167, 0.2);
  --color-orange-rgba: rgba(255, 127, 17, 0.4);
  --color-red: #e73737;
  --color-red-2: #e81f1f;
  --color-pink: #ff1048;
  --color-orange: #FF7F11;
  --color-white-rgba: rgba(255, 255, 255, 0.3);
  --color-white-rgba-2: rgba(255, 255, 255, 0.6);
  --color-white-rgba-3: rgba(255, 255, 255, 0.8);
  --color-dark-rgba: rgba(0, 0, 0, 0.13);
  --color-dark-rgba-2: rgba(0, 0, 0, 0.4);
  --color-dark-rgba-3: rgba(0, 0, 0, 0.25);
  --color-grey-rgba: rgba(235, 234, 239, 0.8);
  --color-grey-rgba-2: rgba(235, 234, 239, 0.4);
}

html {
  background-color: var(--color-grey);
}

body {
  background-size: cover;
  background-position: center;
  background-image: url(../assets/images/bg-dog-2.jpg);
  background-attachment: fixed;
  display: flex;
  min-height: 100dvh;
  font-family: var(--font-open-sans);
}

main {
  @apply flex w-full max-w-[1400px] mx-auto mb-auto px-2 py-4 text-white xl:text-dark;
}

button {
  cursor: pointer;
}

button,
a {
  transition: 0.4s;
}

h1 {
  @apply font-caveat text-4xl text-center
}

h2 {
  @apply text-3xl font-caveat;
}

h3 {
  @apply font-caveat text-2xl capitalize;
}

@layer base {
  *:focus-visible {
    outline-width: 2px;
    outline-style: solid;
    outline-offset: 2px;
    outline-color: var(--color-orange);
    border-radius: 5px;
  }
}

@layer components {
  .shadow-1 {
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  }

  .shadow-2 {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
  }

  .shadow-3 {
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
  }

  .bg-blur {
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
  }

  .paw {
    @apply w-1.5 -rotate-10
  }

  select {
    @apply border border-dark-rgba h-2 font-medium bg-white-rgba rounded-lg px-0.5 max-w-[200px];
  }

  textarea {
    @apply border border-dark-rgba w-3xs font-medium bg-white rounded-lg p-0.5 text-dark;
  }

  .scroll {
    overflow: scroll;

    &::-webkit-scrollbar {
      @apply w-[6px] h-[6px];
    }

    &::-webkit-scrollbar-track {
      @apply m-[3px] bg-transparent;
    }

    &::-webkit-scrollbar-thumb {
      @apply bg-dark-rgba rounded-full
    }
  }

  .text-error {
    @apply text-red text-xs font-medium;
  }

  @media (min-width: 1280px) {
    .white-container {
      background: linear-gradient(to right, var(--color-white-rgba-3), transparent);
      backdrop-filter: blur(10px);
      -webkit-backdrop-filter: blur(10px);
      padding: 1rem;
      border-radius: 1rem;
    }
  }
}