@reference "../../../styles/index.css";

.label {
    @apply gap-0.5 capitalize justify-center text-sm font-medium;
}

.input-container {
    @apply flex gap-0.5 items-center relative text-dark font-normal;

    &:has(input:user-valid) .valid-svg {
        @apply block -right-1.5 text-turquoise-2;
    }

    &:has(input:user-invalid) .error-svg {
        @apply block -right-2 text-orange;
    }

    input {
        @apply bg-white py-0.5 px-1 rounded-full border border-dark-rgba;

        &[type="checkbox"] {
            @apply cursor-pointer;
        }

        &[type="date"] {
            @apply border border-dark-rgba font-medium bg-white-rgba-2 rounded-lg px-0.5;
        }
    }
}

.error-svg,
.valid-svg {
    @apply hidden absolute;
}

.filter-area input {
    @apply border border-dark-rgba h-2 font-medium bg-white-rgba-2 rounded-lg px-0.5 m-[5px];
}