@reference "../../styles/index.css";

.stats-background {
    @apply fixed inset-0 w-screen h-lvh -z-1;
    background: url(../../assets/images/bg-dog-stats.jpg);
    background-size: cover;
    background-position: center;

    &::before {
        content: "";
        @apply fixed w-screen h-dvh inset-0 bg-white-rgba-2 -z-1;
    }
}

.chart-container {
    @apply w-full max-w-md font-caveat rounded-lg p-0.5 border border-white-rgba;
}