@reference "../../styles/index.css";

.auth-form {
    @apply flex gap-1 flex-col justify-center m-auto w-min relative z-1;
}

.loading-paws {
    @apply inline-flex gap-[0.25rem];
}

.loading-paws .paw {
    animation: pawPulse 1.4s ease-in-out infinite both;
}

.loading-paws .paw:nth-child(1) {
    animation-delay: -0.32s;
}

.loading-paws .paw:nth-child(2) {
    animation-delay: -0.16s;
}

.loading-paws .paw:nth-child(3) {
    animation-delay: 0s;
}

@keyframes pawPulse {

    0%,
    80%,
    100% {
        opacity: 0.3;
        transform: scale(0.8);
    }

    40% {
        opacity: 1;
        transform: scale(1);
    }
}