@reference "../../../../styles/index.css";

.animal-popup {

    .leaflet-popup-content-wrapper,
    .leaflet-popup-tip {
        @apply bg-white w-3xs;
    }

    .leaflet-popup-content p {
        @apply m-0;
    }

    .flex-popup-container {
        @apply flex gap-1 items-center font-open-sans;

        img {
            @apply w-4 h-4;
        }

        h3 {
            @apply text-turquoise;
        }

        p {
            @apply m-0;
        }
    }
}