@reference "../../../../styles/index.css";

.event-card {
    @apply py-2 px-1 md:border border-dark-rgba md:rounded-lg md:p-1 bg-white text-dark w-screen md:max-w-md flex flex-col gap-1;
}

.event-card-top {
    @apply flex flex-row gap-1.5 justify-between;
}

.event-card-type-cta {
    @apply flex flex-col sm:flex-row gap-0.5 items-center flex-wrap;
}

.event-card-additional-info {
    @apply text-sm flex gap-1 justify-between;

    p {
        @apply flex items-center
    }

    .event-description {
        @apply text-grey-2;

        h4 {
            @apply font-medium;
        }
    }
}